aiosqlite
anthropic
asyncio
cachetools
cryptography
fastapi
fuzzywuzzy 
groq
httpx
magika
mistralai
mutagen
pandas
pillow
plyvel
psutil
python-decouple
python-Levenshtein
pytz
ruff
sshtunnel
sqlalchemy
sqlmodel
starlette
tiktoken
torch
torchaudio
torchvision
transformers
uvicorn[standard]
uvloop
zstandard