aiosqlite
anthropic
asyncio
cryptography
fastapi
fuzzywuzzy 
groq
httpx
magika
mistralai
pandas
plyvel
psutil
python-decouple
python-Levenshtein
pytz
sqlalchemy
sqlmodel
starlette
tiktoken
torch
torchaudio
torchvision
transformers
uvicorn[standard]
uvloop
zstandard