aiosqlite
anthropic
asyncio
cryptography
fastapi
fuzzywuzzy 
groq
httpx
magika
mistralai
pandas
psutil
python-decouple
python-Levenshtein
sqlalchemy
starlette
torch
torchvision
torchaudio
transformers
uvicorn[standard]
uvloop
zstandard